---
layout: page
title: Developer Meetups
caption: Join us
subtitle: Come join one of our upcoming meetups!
icon: direction
background: "url(/images/bahk-jimmysong-01.png) #FF0000"
permalink: /devs/
navigation: visible
---
      <p><a href="https://www.meetup.com/Bitcoin-HK/">Join our Meetup.com group</a> to never miss a meetup!
      <h2>Developer Meetups</h2>
      <div class="meetups">
        {% assign curDate = site.time | date: '%s' %}
        {% for post in site.posts %}
        {% if post.layout == "devmeetup" %}
            {% assign postStartDate = post.date | date: '%s' %}
            {% if postStartDate > curDate %}
              <a class="post-link white-box" href="{{ post.url | prepend: site.baseurl }}">
                <div class="preview" style="background:{{ post.background }}">
                  <div class="date">
                      <small>{{ post.date | date: "%b" }}</small>
                      {{ post.date | date: "%-d" }}
                  </div>
                </div>
                <h3>{{ post.title }}</h3>
                <p>{{ post.date | date: "%H:%M" }} at {{ post.address }}</p>
              </a>
              <br>
            {% endif %}
            {% endif %}
          {% endfor %}
        </div>
        <br>

        <h2>Past Meetups</h2>
        <div class="meetups">
          {% assign curDate = site.time | date: '%s' %}
            {% for post in site.posts %}
            {% if post.layout == "devmeetup" %}
              {% assign postStartDate = post.date | date: '%s' %}
              {% if curDate > postStartDate %}
              <a class="post-link white-box" href="{{ post.url | prepend: site.baseurl }}">
                <div class="preview" style="background:{{ post.background }}">
                  <div class="date">
                      <small>{{ post.date | date: "%b" }}</small>
                      {{ post.date | date: "%-d" }}
                  </div>
                </div>
                <h3>{{ post.title }}</h3>
                <p>{{ post.date | date: "%H:%M" }} at {{ post.address }}</p>
              </a>
              <br>
              {% endif %}
              {% endif %}
            {% endfor %}
          </div>
