---
layout: page
title: The Bitcoin Lecture Series
caption: Join us
subtitle: Join us in learning more about Bitcoin and blockchain!
icon: direction
background: "url(/images/bahk-red-skyline.png) #FF0000"
permalink: /bitcoin-lecture-series/
navigation: visible
---
      <p><a href="/bitcoin-lecture-series/podcast.xml">Podcast Feed</a> •
        <a href="https://itunes.apple.com/us/podcast/the-bitcoin-lecture-series/id1096689567">iTunes</a> •
        <a href="https://www.youtube.com/playlist?list=PLzntL9E2Gq2x3JvKQ9DEBKKkqjjmN4c9q">Youtube</a>
      </p>
      <h2>Episodes</h2>
      <div class="meetups">
        {% for post in site.posts %}
        {% if post.layout == "podcast" %}
              <a class="post-link white-box" href="{{ post.url | prepend: site.baseurl }}">
                <div class="preview" style="background:{{ post.background }}">
                  <div class="date">
                      <small>{{ post.date | date: "%b" }}</small>
                      {{ post.date | date: "%-d" }}
                  </div>
                </div>
                <h3>{{ post.title }}</h3>
                <p>{{ post.episode_title }}</p>
              </a>
              <br>
            {% endif %}
          {% endfor %}
        </div>
        <br>
