<div id="discourse-comments"></div>

<script type="text/javascript">
      var discourseUrl = "https://discuss.bitcoinhk.org/";
      var discourseEmbedUrl = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}";
      {% if page.author %}
      var discourseUserName = '{{ page.author }}';
      {% endif %}
  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
      d.src = discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>
