<span id="top"></span>
<div class="cover" style="background:{{ page.background }}">
<div class="cover-overlay">
  <nav class="site-header" role="navigation">
    <div class="c">
      <a href="/" class="logo">
        <div>
          <img src="/images/bahk-logo-big-white.svg" alt="BAHK Logo">
        </div>
      </a>
      <a href="#" onclick="$('nav').toggleClass('expanded')" class="menu-button visible-mobile right">
        <i class="icon-more"></i>
      </a>
      <a class="page-link" onclick="$('nav').toggleClass('expanded')" href="/about/">
        <i class="icon-user"></i>
        <div>
          About
          <small>Learn more</small>
        </div>
      </a>

      <a class="page-link" onclick="$('nav').toggleClass('expanded')" href="/members/">
        <i class="icon-cards"></i>
        <div>
          Members
          <small>Join us</small>
        </div>
      </a>

      <a class="page-link" onclick="$('nav').toggleClass('expanded')" href="/meetups/">
        <i class="icon-direction"></i>
        <div>
          Meetups
          <small>Come</small>
        </div>
      </a>

      <a class="page-link" onclick="$('nav').toggleClass('expanded')" href="https://discuss.bitcoinhk.org">
        <i class="icon-ideas"></i>
        <div>
          Forum
          <small>Discuss</small>
        </div>
      </a>


    </div>
  </nav>

  <!-- COVER PHOTO CONTINUES -->
