---
layout: default
---

<header class="post-header">
  <div class="c">
    <h1>{{ page.title }}</h1>
    <p class="lead">{% if page.subtitle %}{{ page.subtitle }}{% endif %}</p>
  </div>
</header>

{% assign curDate = site.time | date: '%s' %}
{% assign postStartDate = post.date | date: '%s' %}

<div id="details">
  <div class="c">
    <p class="lead">{% if page.host %} Written by {{ page.author }} on {% endif %} {{ page.date | date: '%-d %B, %Y' }}</p>
  </div>
</div>

<!-- END COVER -->
</div>
</div>

<section class="post">

  <div class="c">

  <article class="post-content">
  {{ content }}
  </article>
  </div>

</section>
