---
layout: default
---

<div class="post-header">
  <div class="c">
    <div class="date">
      <small>{{ page.date | date: "%b" }}</small>
      {{ page.date | date: "%-d" }}
    </div>
    <h1>{{ page.title }}</h1>
    <p class="lead">{{ page.date | date: "%H:%M" }}{% if page.author %} &middot; {{ page.author }}{% endif %}{% if page.address %} &middot; {{ page.address }}{% endif %}{% if page.meta %} &middot; {{ page.meta }}{% endif %}</p>
  </div>
</div>

<div id="details">
  <div class="c">
    <p class="lead">
      {% if page.host %}Hosted by {{ page.host }}{% endif %}
      {% if page.link %} &middot; <a href="{{ page.link }}" target="_blank">RSVP</a>{% endif %}
      {% if page.address %} &middot; <a href="https://maps.google.com/?daddr={{ page.address }}" target="_blank">Get Directions</a>{% endif %}
    </p>
  </div>
</div>

<section class="post">
  <div class="c">
    <article class="post-content">
      {{ content }}
    </article>
  </div>
</section>
